<div class="row">
	<div class="col-lg-12">
		<div class="row mx-0 justify-content-between" id="toobarClassroomTable">
			<div class="col-lg-12">
				<%= button_to new_classroom_path, method: :get, class: "btn btn-success btn-circle" do %>
				<i class="fas fa-plus fa-2x"></i>
				<% end %>
			</div>
		</div>
	</div>
</div>
<table
	id="classroomsTable"
	data-toggle="table"
	data-classes="table"
	data-pagination="true"
	data-toolbar="#toobarClassroomTable"
	data-search="true"
	data-search-align="right"
	data-url="<%= classrooms_path %>"
	data-side-pagination="server"
	data-query-params="queryParams"
>
	<thead>
		<tr>
			<th data-field="id">#</th>
			<th data-sortable="true" data-field="name">ชื่อ</th>
			<th data-sortable="true" data-field="seat">จำนวนที่นั่ง</th>
			<th data-sortable="true" data-field="active">สถานะ</th>
			<th class="text-right" data-field="action_buttons"></th>
		</tr>
	</thead>
</table>
