<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>แจ้งเตือนการเข้าสู่ระบบ, <%= @user.email %></h1>
    <p>
      พบการเข้าสู่ระบบ ด้วย Email : <%= @user.email %>
    </p>
  </body>
</html>
